version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5434:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - appnet

  backend:
    build: ./ServerForCTF
    container_name: spring-backend
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    ports:
      - "8081:8080"
    networks:
      - appnet
    restart: unless-stopped

  frontend:
    build: ./WebForCTF
    container_name: ctf-frontend
    depends_on:
      - backend
    environment:
      BACKEND_URL: http://backend:8080
    ports:
      - "3000:3000"
    networks:
      - appnet
    restart: unless-stopped

networks:
  appnet:

volumes:
  postgres-data:
